<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejs Template Engine</title>
    <!-- style was here -->
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <h1>Welcome dude!</h1>
    <p style="font-style: italic">"Live is an education. It is learned mostly through what you discover on your own and not through what others tell you."</p>

    <h2>Data</h2>
    <p><strong>Name  : </strong><%= data.name %> | <strong>Gender  : </strong><%= data.gender %></p>
</body>
</html>
